.DS_Store
.texpadtmp/
*.pdf
*.swp
*.agdai
*.~undo-tree~

# LaTeX temporary files
*.aux
*.log
*.toc

*.xdv
*.fls

live.*

# PDF output - usually a bad idea to keep this in Git
*.pdf

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

